.choices {
    margin-bottom: var(--inputMarginBottom) !important;
}

.choices__inner {
    border-color: var(--inputBorderColor) !important;
    border-radius: var(--inputRounded) !important;
    border-style: solid !important;
    border-width: var(--inputBorderWidth) !important;
}

.choices__list--multiple .choices__item {
    border-color: var(--buttonBorderColor) !important;
    background-color: var(--buttonBackground) !important;
}
