.StandardForm {
    max-width: 800px;
}

.StandardForm__Button {
    width: 100%;
}

.StandardForm__LabelErrors {
    color: var(--Red);
    font-weight: bold;
}

.StandardForm__TextInput--HasError,
.StandardForm__TextInput--HasError:hover,
.StandardForm__TextInput--HasError:focus,
.StandardForm__TextInput--HasError,
.StandardForm__TextInput--HasError:hover,
.StandardForm__TextInput--HasError:focus {
    background-color: var(--RedLightest);
    border-color: var(--Red);
}
