#------------------------------------
# Project
#------------------------------------

# ...custom project excludes





#------------------------------------
# Tools
#------------------------------------

/.env.override
projectOverrides.json
/**/.phpunit.result.cache
/**/auth.json
/**/*-workspace
/**/fabCache/*
/**/node_modules/
/**/*.sublime-*
/**/vendor/*

/**/.idea/**/workspace.xml
/**/.idea/**/tasks.xml
/**/.idea/**/usage.statistics.xml
/**/.idea/**/dictionaries
/**/.idea/**/shelf





#------------------------------------
# Platforms
#------------------------------------

.cache
.DS_Store
.tmp
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
error_log
Thumbs.db





#------------------------------------
# Gitkeep
#------------------------------------

!.gitkeep
