version: '3'

services:
  utility:
    env_file:
      - .env
      - .env.override
    image: buzzingpixel/utility:1.1.0
    container_name: utility-mission-control
    environment:
      HOSTNAME: utility-mission-control
    volumes:
      - .:/app
      - cache-volume:/cache-volume
      - db-volume:/db-volume
      - node-modules-volume:/node-modules-volume
      - vendor-volume:/vendor-volume
    command: bash -c "chmod +x /app/scripts/dev/devUtilityScript.sh && /app/scripts/dev/devUtilityScript.sh"
    networks:
      common:
  web:
    env_file:
      - .env
      - .env.override
    image: buzzingpixel/nginx:1.0.2
    container_name: nginx-mission-control
    environment:
      HOSTNAME: nginx-mission-control
    ports:
      - 7783:80
    volumes:
      - ${DOCKER_RSA_FILE}:/tmp/.ssh/id_rsa:delegated
      - ${DOCKER_RSA_PUB_FILE}:/tmp/.ssh/id_rsa.pub:delegated
      - ./serverConfig/nginx/dev.conf:/etc/nginx/conf.d/dev.conf:delegated
      - .:/app-www:delegated
      - cache-volume:/app-www/cache:delegated
      - vendor-volume:/app-www/vendor:delegated
    networks:
      common:
        aliases:
          - mission-control.test
  php:
    env_file:
      - .env
      - .env.override
    image: buzzingpixel/php7.2:1.0.6
    container_name: php-mission-control
    environment:
      HOSTNAME: php-mission-control
      COMPOSER_HOME: /composer-home-volume
    volumes:
      - ${DOCKER_RSA_FILE}:/tmp/.ssh/id_rsa:delegated
      - ${DOCKER_RSA_PUB_FILE}:/tmp/.ssh/id_rsa.pub:delegated
      - ./serverConfig/php/php-custom-config.ini:/usr/local/etc/php/conf.d/php-custom-config.ini:delegated
      - ./serverConfig/php/php-config-dev.ini:/usr/local/etc/php/conf.d/php-env-config.ini:delegated
      - ./serverConfig/php/fpm-www.conf:/usr/local/etc/php-fpm.d/www.conf:delegated
      - .:/app:delegated
      - .:/app-www:delegated
      - cache-volume:/app-www/cache:delegated
      - composer-home-volume:/composer-home-volume:delegated
      - vendor-volume:/app-www/vendor:delegated
    networks:
      common:
  db:
    env_file:
      - .env
      - .env.override
    image: buzzingpixel/mariadb:2.0.1
    container_name: db-mission-control
    restart: always
    environment:
      HOSTNAME: db-mission-control
    user: "1000:50"
    volumes:
      - ${DOCKER_RSA_FILE}:/tmp/.ssh/id_rsa:delegated
      - ${DOCKER_RSA_PUB_FILE}:/tmp/.ssh/id_rsa.pub:delegated
      - db-volume:/var/lib/mysql:delegated
    ports:
      - 17417:3306
    networks:
      common:
  node:
    env_file:
      - .env
      - .env.override
    image: node:11.12.0
    container_name: node-mission-control
    ports:
      - 3000:3000
      - 3001:3001
    volumes:
      - .:/app:delegated
      - node-modules-volume:/app/node_modules
      - yarn-cache-volume:/usr/local/share/.cache/yarn
    command: bash -c "sleep infinity & wait"
    networks:
      common:

volumes:
  cache-volume:
  composer-home-volume:
  db-volume:
  node-modules-volume:
  vendor-volume:
  yarn-cache-volume:

networks:
  common:
