<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="src/tests/bootstrap.php">
    <php>
        <ini name="display_errors" value="true"/>
    </php>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./src/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
