{% extends 'layouts/LayoutHtmlWrapper.twig' %}

{% set metaTitle = 'Log In' %}

{% block layoutContent %}
    <div class="CenteredPage">
        <div class="CenteredPage__Inner">
            {% if dataStore().storeItem('LogInAction.hasError') %}
                <div class="CenteredPage__ErrorBanner Alert Alert--Centered Alert--Danger">
                    There was an error logging you in!
                </div>
            {% endif %}
            {% if flashDataApi().getFlashData().getStoreItem('ResetPasswordAction').dataItem('success') ?? false %}
                <div class="CenteredPage__ErrorBanner Alert Alert--Centered Alert--Success">
                    Your password was reset successfully! You can now log in with your new password.
                </div>
            {% endif %}
            <h1 class="CenteredPage__Heading">Mission Control</h1>
            <form
                method="post"
                accept-charset="UTF-8"
                class="CenteredPage__Form"
            >
                {{ getCsrfInput() }}
                <input type="hidden" name="action" value="logIn">
                <fieldset class="fieldset">
                    <label for="email" class="label">Email Address</label>
                    <input type="email" name="email" id="email" class="input">
                </fieldset>
                <fieldset class="fieldset">
                    <label for="email" class="label">Password</label>
                    <input type="password" name="password" class="input">
                </fieldset>
                <fieldset class="fieldset">
                    <input type="submit" class="button CenteredPage__SubmitButton" value="Log In">
                </fieldset>
                <div class="CenteredPage__Small">
                    <a href="/iforgot">Forgot your password?</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
