{# @var string token #}
{# @var \corbomite\user\models\UserModel user #}

{% extends 'layouts/LayoutHtmlWrapper.twig' %}

{% set metaTitle = 'Reset Your Password' %}

{% block layoutContent %}
    <div class="CenteredPage">
        <div class="CenteredPage__Inner">
            <h1 class="CenteredPage__Heading">Mission Control</h1>
            <h2 class="CenteredPage__SubHeading">reset password for {{ user.emailAddress() }}</h2>
            <form
                method="post"
                accept-charset="UTF-8"
                class="CenteredPage__Form"
            >
                {{ getCsrfInput() }}
                <input type="hidden" name="action" value="resetPassword">
                <input type="hidden" name="token" value="{{ token }}">
                <fieldset class="fieldset">
                    <label for="email" class="label">Password</label>
                    <input type="password" name="password" class="input">
                </fieldset>
                <fieldset class="fieldset">
                    <input type="submit" class="button CenteredPage__SubmitButton" value="Reset Password">
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
