{% set pipelineItems = pipelineItems ?? [] %}

{% embed 'forms/inputTemplates/_fieldset.twig' %}
    {% block input %}
        <div class="PipelineBuilder JS-PipelineBuilder">
            <script type="text/template" class="JS-PipelineBuilder__InputTemplate">
                {% include 'forms/inputTemplates/PipelineBuilderInputTemplate.twig' %}
            </script>
            <div class="PipelineBuilder__Inner">
                Use <code>{% verbatim %}{{timestamp}}{% endverbatim %}</code> to get the timestamp the job was added at<br>
                Use <code>{% verbatim %}{{time "FORMAT_HERE"}} or {{time 'FORMAT_HERE'}}{% endverbatim %}</code> for formatted added at time (PHP DateTime format)<br>
                <div class="PipelineBuilder__Items JS-PipelineBuilder__Items">
                    {% for pipelineItem in pipelineItems %}
                        {% include 'forms/inputTemplates/PipelineBuilderInputTemplate.twig' with {
                            uuid: pipelineItem.uuid,
                            description: pipelineItem.description,
                            script: pipelineItem.script,
                            serverGuids: pipelineItem.serverGuids,
                        } %}
                    {% endfor %}
                </div>
                <div class="PipelineBuilder__AddItemWrapper">
                    <span class="PipelineBuilder__AddItem JS-PipelineBuilder__AddItem">
                        {% include 'svg/IconPlus.svg' %}
                    </span>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
