{% set options = options|default([]) %}
{% set multiple = multiple|default(false) %}

{% embed 'forms/inputTemplates/_fieldset.twig' %}
    {% block input %}
        <select
            name="{{ name }}"
            id="{{ name }}"
            class="select JS-Select StandardForm__Select"
            {% if multiple %}
            multiple
            {% endif %}
        >
            {% if not multiple %}
            <option value="">-- select an option --</option>
            {% endif %}
            {% for val, option in options %}
                <option value="{{ val }}"{% if value == val %} selected{% endif %}>
                    {{ option }}
                </option>
            {% endfor %}
        </select>
    {% endblock %}
{% endembed %}
