.StandardPage__Controls {
    display: flex;
    align-items: center;
}

.StandardPage__Title {
    padding-right: 10px;
    width: 40%;
}

.StandardPage__ControlsButtons {
    text-align: right;
    width: 60%;
}
