.StandardPage__Controls {
    margin-bottom: 30px;
}

.StandardPage__Title {
    margin: 0;
}

.StandardPage__Title,
.StandardPage__ControlsButtons {
    margin-top: 10px;
}

.StandardPage__TitleSub {
    color: var(--Light);
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
}
