.TableList__Controls {
    display: flex;
    align-items: center;
}

.TableList__Title {
    padding-right: 10px;
    width: 40%;
}

.TableList__ControlsButtons {
    text-align: right;
    width: 60%;
}
