{# @var \corbomite\user\interfaces\UserApiInterface userApi #}
{% set userApi = userApi() %}

{# @var \corbomite\http\interfaces\RequestHelperInterface requestHelper #}
{% set requestHelper = requestHelper() %}

{% set segment1 = requestHelper.segment(1) %}

<nav class="SiteNav">
    <div class="SiteNav__Inner">
        <div class="SiteNav__SiteTitle heading heading--level-4">Mission Control</div>
        <a
            href="#0"
            class="SiteNav__MobileActivator JS-MobileMenuActivator"
            data-active-class="SiteNav__MobileActivator--IsActive"
        >
            <span class="SiteNav__MobileActivatorDescription">
                Menu
            </span>
            <span class="SiteNav__MobileActivatorInner">
                <span class="SiteNav__MobileActivatorInnerInner"></span>
            </span>
        </a>
        <div
            class="SiteNav__MenuItemsHolder JS-MobileNav"
            data-pre-active-class="SiteNav__MenuItemsHolder--IsPreActive"
            data-active-class="SiteNav__MenuItemsHolder--IsActive"
        >
            <div class="SiteNav__UpperMessage">
                Logged In As <a href="/account">{{ userApi.fetchCurrentUser.emailAddress }}</a><br>
                <a
                    href="/?action=logout"
                    class="button button--colored SiteNav__LogOutButton"
                >
                    Log Out
                </a>
            </div>
            <ul class="SiteNav__List">
                <li class="SiteNav__ListItem">
                    <a
                        href="/projects"
                        class="SiteNav__Link{% if not segment1 or segment1 == 'projects' %} SiteNav__Link--IsActive{% endif %}"
                    >
                        Projects
                    </a>
                </li>
                <li class="SiteNav__ListItem">
                    <a
                        href="/monitored-urls"
                        class="SiteNav__Link{% if segment1 == 'monitored-urls' %} SiteNav__Link--IsActive{% endif %}"
                    >
                        Monitored URLs
                    </a>
                </li>
                <li class="SiteNav__ListItem">
                    <a
                        href="/pings"
                        class="SiteNav__Link{% if segment1 == 'pings' %} SiteNav__Link--IsActive{% endif %}"
                    >
                        Pings
                    </a>
                </li>
                <li class="SiteNav__ListItem">
                    <a
                        href="/reminders"
                        class="SiteNav__Link{% if segment1 == 'reminders' %} SiteNav__Link--IsActive{% endif %}"
                    >
                        Reminders
                    </a>
                </li>
                {#<li class="SiteNav__ListItem">
                    <a
                        href="/servers"
                        class="SiteNav__Link{% if segment1 == 'servers' %} SiteNav__Link--IsActive{% endif %}"
                    >
                        Servers
                    </a>
                </li>#}
                {% if userApi.fetchCurrentUser.getExtendedProperty('is_admin') == 1 %}
                    <li class="SiteNav__ListItem">
                        <a
                            href="/admin"
                            class="SiteNav__Link{% if segment1 == 'admin' %} SiteNav__Link--IsActive{% endif %}"
                        >
                            Admin
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
