{# @var \corbomite\user\interfaces\UserApiInterface userApi #}
{% set userApi = userApi() %}

{# @var \corbomite\http\interfaces\RequestHelperInterface requestHelper #}
{% set requestHelper = requestHelper() %}

{% set segment1 = requestHelper.segment(1) %}

{% set nav = [
    {
        href: 'projects',
        content: 'Projects',
        activeNoSegment: true
    },
    {
        href: 'monitored-urls',
        content: 'Monitored URLs',
    },
    {
        href: 'pings',
        content: 'Pings',
    },
    {
        href: 'reminders',
        content: 'Reminders',
    },
    {
        href: 'servers',
        content: 'Servers',
    },
    {
        href: 'ssh-keys',
        content: 'SSH Keys',
    },
    {
        href: 'pipelines',
        content: 'Pipelines',
    },
    {
        href: 'admin',
        content: 'Admin',
        adminOnly: true,
    },
] %}

<nav class="SiteNav">
    <div class="SiteNav__Inner">
        <div class="SiteNav__SiteTitle heading heading--level-4">Mission Control</div>
        <a
            href="#0"
            class="SiteNav__MobileActivator JS-MobileMenuActivator"
            data-active-class="SiteNav__MobileActivator--IsActive"
        >
            <span class="SiteNav__MobileActivatorDescription">
                Menu
            </span>
            <span class="SiteNav__MobileActivatorInner">
                <span class="SiteNav__MobileActivatorInnerInner"></span>
            </span>
        </a>
        <div
            class="SiteNav__MenuItemsHolder JS-MobileNav"
            data-pre-active-class="SiteNav__MenuItemsHolder--IsPreActive"
            data-active-class="SiteNav__MenuItemsHolder--IsActive"
        >
            <div class="SiteNav__UpperMessage">
                Logged In As <a href="/account">{{ userApi.fetchCurrentUser.emailAddress }}</a><br>
                <a
                    href="/?action=logout"
                    class="button button--colored SiteNav__LogOutButton"
                >
                    Log Out
                </a>
            </div>
            <ul class="SiteNav__List">
                {% for item in nav %}
                    {% set activeNoSegment = item['activeNoSegment'] ?? false %}
                    {% set adminOnly = item['adminOnly'] ?? false %}
                    {% set display = true %}
                    {% if adminOnly and userApi.fetchCurrentUser.getExtendedProperty('is_admin') != 1 %}
                        {% set display = false %}
                    {% endif %}
                    {% if display %}
                        <li class="SiteNav__ListItem">
                            <a
                                href="/{{ item.href }}"
                                class="SiteNav__Link{% if (activeNoSegment and not segment1) or segment1 == item.href %} SiteNav__Link--IsActive{% endif %}"
                            >
                                {{ item.content }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
