:root {
    /*--linkOutline: auto;*/
    --linkColor: var(--DarkerBlue);
    /*--linkDecoration: underline;*/
    --linkColorHover: var(--DarkBlue);
    /*--linkDecorationHover: var(--linkDecoration);*/
    --linkColorActive: var(--DarkBlue);
}
