.SiteMain:before {
    background-image: url(/assets/img/earth-gradient-to-lightest-gray.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: ' ';
    display: block;
    height: 100%;
    opacity: 0.2;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.SiteMain__Inner {
    padding: 20px;
    position: relative;
    z-index: 2;
}
