<label for="webook-trigger" class="label StandardForm__Label">
    {{ label }}
</label>
<input
    type="text"
    name="title"
    value="{{ value }}"
    id="webook-trigger"
    class="input StandardForm__TextInput"
>
