.KeyValue__Item {
    display: flex;
    justify-content: space-between;
}

.KeyValue__Key {
    margin: 0;
    text-align: right;
    width: 160px;
}

.KeyValue__Value {
    width: calc(100% - 200px);
}
