{# @var bool emailSent #}

{% extends 'layouts/LayoutHtmlWrapper.twig' %}

{% set metaTitle = 'Log In' %}

{% block layoutContent %}
    <div class="CenteredPage">
        <div class="CenteredPage__Inner">
            {% if emailSent %}
                <div class="CenteredPage__ErrorBanner Alert Alert--Centered Alert--Success">
                    If the email address you provided is associated with a user account, you will receive an email with a password reset link.
                </div>
            {% endif %}
            <h1 class="CenteredPage__Heading">Mission Control</h1>
            <h2 class="CenteredPage__SubHeading">reset your password</h2>
            <form
                method="post"
                accept-charset="UTF-8"
                class="CenteredPage__Form"
            >
                {{ getCsrfInput() }}
                <input type="hidden" name="action" value="sendPasswordResetEmail">
                <fieldset class="fieldset">
                    <label for="email" class="label">Email Address</label>
                    <input type="email" name="email" id="email" class="input">
                </fieldset>
                <fieldset class="fieldset">
                    <input type="submit" class="button CenteredPage__SubmitButton" value="Send Reset Email">
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
