{% extends 'layouts/LayoutHtmlWrapper.twig' %}

{% set metaTitle = 'Log In' %}

{% block layoutContent %}
    <div class="LoginForm">
        <div class="LoginForm__Inner">
            <h1 class="title">Mission Control</h1>
            {% if dataStore().storeItem('LogInAction.hasError') %}
                <div class="LoginForm__ErrorBanner">
                    There was an error logging you in!
                </div>
            {% endif %}
            <form
                method="post"
                accept-charset="UTF-8"
                class="LoginForm__Form"
            >
                {{ getCsrfInput() }}
                <input type="hidden" name="action" value="logIn">
                <fieldset class="fieldset">
                    <label for="email" class="label">Email Address</label>
                    <input type="email" name="email" id="email" class="input">
                </fieldset>
                <fieldset class="fieldset">
                    <label for="email" class="label">Password</label>
                    <input type="password" name="password" class="input">
                </fieldset>
                <fieldset class="fieldset">
                    <input type="submit" class="button" value="Log In">
                </fieldset>
                <a href="/iforgot" class="LoginForm__ForgotPassword">
                    Forgot your password?
                </a>
            </form>
        </div>
    </div>
{% endblock %}
