{% extends 'layouts/LayoutHtmlWrapper.twig' %}

{% block layoutContent %}
    {% include 'partials/SiteNav.twig' %}
    <main class="SiteMain">
        <div class="SiteMain__Inner">
            {% if flashDataApi().getFlashData().getStoreItem('LogInAction').dataItem('success') ?? false %}
                <div class="Alert Alert--Centered Alert--Success Alert--HasMarginBottom">
                    Logged In Successfully!
                </div>
            {% endif %}
            {{ block('content') ?? '' }}
        </div>
    </main>
{% endblock %}
