{% extends 'layouts/LayoutHtmlWrapper.twig' %}

{% block layoutContent %}
    {% include 'partials/SiteHeader.twig' %}
    {% if flashDataApi().getFlashData().getStoreItem('LogInAction').dataItem('success') ?? false %}
        Logged in successfully!<br><br>
    {% endif %}
    <main class="SiteMain">
        <div class="SiteMain__Inner">
            {{ block('content') ?? '' }}
        </div>
    </main>
    {% include 'partials/SiteFooter.twig' %}
{% endblock %}
